	body {
		font-size:14px;
		margin-top:0px;
		padding:0px;
        line-height:162%;
	}
	body a {
		text-decoration:none;
		cursor:pointer;
	}

    h1 {
        font-size: 25px;
        font-weight: bold;
        color: #494949;
        line-height: 1.1;
    }
	h2 {
		color: #006600;
		font: 14px/150% Arial,Helvetica,sans-serif;
		margin: 0 0 12px;
	}
    h3 {
        display:inline;
        font-size:1.17em;
        font-weight:bold;
        color:#209E85;
    }
	ul {
		list-style-type:none;
	}
	.float_left {
		float:left;
	}
	.float_right {
		float:right
	}
	.clearfix {
		clear:both;
	}
    .last {
        margin:0px;
    }
    .tab {
        margin-left:50px;
    }
    .indent {
        text-indent:2em;
    }
    .font_bold {
        font-weight:bold;
    }
    .margin_all_10 {
        margin:10px;
    }

	#top_nav {
        clear:both;
        width:100%;
        height:30px;
        margin-bottom:20px;
		border-bottom:1px dashed #D4D4D4;
	}
    .bd {
		margin: 0px auto;
		width: 950px;
    }
	.main_nav {
		float:left;
		margin-top:3px;
	}
	.log_nav {
		float:right; 
		margin-top:3px;
	}
	.main_nav a,.log_nav a {
		font-size:12px;
		color:#566D5E;
	}
	.main_nav a:active {
		font-weight:800;
	}
	.main_nav a:hover,.log_nav a:hover {
		color:#FFFFFF;
		background-color:#219A44;
	}

	.headline {
		font:normal bold 30px arial,sans-serif;
		color:green;
	}

	.listen_nav {
		display:inline;
		padding:0 8 0 8;
		border-left:1px dotted #DDDDDD;
	}
	.listen_nav a {
		color:#0C7823;
	}
	.listen_nav a:hover {
		color:#FFFFFF;
		background-color:#0C7826;
	}
    .listenbook_cover img {
        border-right: solid 5px #CCC;
        border-bottom: solid 4px #AAA;
        border-left: solid 1px #AAA;
        border-top: solid 1px #AAA;
    }
    .specBookInfo {
        margin-top:4px;
    }
    .specBookInfo > div {
        margin-top:10px
    }
    .bookInfo_div {
        width:100%;
        padding-bottom:10px;
        border-bottom:solid 1px #CCC;
    }
    .updateBookInfo_p {
        font-size:12px;
        text-align:center;
        color:#BBB;
        width:110px;
        padding-top:10px;
    }
    .updateBookInfo_p a:visited {
        color:#BBB;
        font-size:12px;
        text-align:center;
    }
    .updateBookInfo_p a:hover { 
        color:white;
        font-size:12px;
        border-left:1px solid #F99;
        border-top:1px solid #F99;
        border-right:1px solid #F33;
        border-bottom:1px solid #F33;
        background-color:#733;
        text-align:center;
        
    }
    .specBookInfo span {
        color:#666;
        font-size:12px;
        padding-bottom:8px;
        font-weight:normal;
    }
    .specBookInfo_count, .lessonName {
        font-weight:bold;
        color:#209E85;
    }
    .collect_btn {
        color:#669;
    }
    .createBook_btn:hover, .collect_btn:hover {
        color:white;
        background:#039;
    }
    .createBook_div {
        background:#FFF6ED;
        padding:4px 9px;
        border:2px solid #FAEFE3;
        margin-bottom:20px
    }
    .related_info {
        margin-top:24px;
        margin-bottom:3px;
    }
    .listenBookCategory {
        background:#F4F4EC;
        padding:10px;
        margin-bottom:20px;
        word-wrap:break-word;
    }
    .listenBookCategory>ul {
        padding:0px;
    }
    .listenBookCategory>ul>li a{
        color:#369;
        display:block;
    }
    .listenBookCategory>ul>li {
        padding:10px;
        border-bottom:1px solid #CCC;
        font-size: 14px;
        font-weight:bold;
        line-height:20px;
        cursor:pointer;
    }
    .listenBookCategory>ul li:hover {
        background-color:#209E85;
    }
    .listenBookCategory>ul li:hover a{
        color:#FFF;
    }

    #punchCard, #startListen {
        position: relative;
        padding-top: 30px;
    }
    #punchCard a, #startListen a {
        background-image: -moz-linear-gradient(#209E85, #107B65);
        background-color: #107B65;
        background-repeat: repeat-x;
        display: inline-block;
        font-size: 30px;
        color: #EEE;
        border-radius: 5px;
        line-height: 20px;
        padding: 15px 40px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
        text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
    }
    #punchCard a:hover, #startListen a:hover {
        background-position: 0 -15px;
        color: #EEEEEE;
    }
    

	#wrapper {
		margin: 15px auto;
		width: 950px;
	}

	.article {
		float:left;
		padding-right:40px;
		width:590px;
	}
	.article_img_div {
		margin-bottom:2em;
	}
	.aside {
		float:right;
		width:310px;
	}
	.book_normal {
		float:left;
		width:106px;
		margin-right:15px
	}
    .book_title {
        color:#C09;
        padding:5px;
        font-weight:bold;
        font-size:12px;
    }
    .book_count {
        color:gray;
        font-size:12px;
        padding-left:5px;
        padding-bottom:10px;
    }

	#footer {
		border-top: 1px dashed #DDDDDD;
		color: #999999;
		margin-top: 40px;
		overflow: hidden;
		padding-top: 6px;
	}

	.pl {
		color:#666666;
		font:12px/150% Arial,Helvetica,sans-serif;
	}
	.pl a {
		color:#336699;
	}
	.pl a:hover {
		color:#FFFFFF;
		background-color:#003399;
	}

