<!-- navigation -->
<div id="top_nav">
    <div class="bd">
        <div class='main_nav'>
		    <a href='/git_dt/shuffleLesson/deliverable/view/shuffleListen/shuffleListen.php'>Shuffle听力</a>
    		&nbsp;&nbsp;
	    	<a href='#'>Shuffle阅读</a>
		    &nbsp;&nbsp;
    		<a href='#'>Shuffle运动</a>
	    	&nbsp;&nbsp;
	    </div>
    	<div class="log_nav">
	    	<a href='#'>邮箱</a>
		    &nbsp;&nbsp;
    		<a href='#'>个人帐号</a>
	    	&nbsp;&nbsp;
		    <a href='#'>登录/退出</a>
    		&nbsp;&nbsp;
	    </div>
    </div>
</div>
