<!-- sub-navigation -->
<div class="float_left" style="margin-top:5px">
    <label class='headline'>ShuffleRead</label>
</div>
<div class="float_left" style="margin:10px 0px 0 28px;">
    <input style="color:#D4D4D4" value='book, author, isbn'/>
    <button style="width:58px">Search</button>
</div>
<div class="float_left">
    <ul>
        <li class='listen_nav'><a href='../shuffleRead/iRead.php'>iRead</a></li>
        <li class='listen_nav'><a href='#'>Dynamic</a></li>
        <li class='listen_nav'><a href='#'>Guess</a></li>
        <li class='listen_nav'><a href='#'>Resources</a></li>
        <li class='listen_nav'><a href='#'>Hear</a></li>
        <li class='listen_nav'><a href='#'>Cart</a></li>
    </ul>
</div>
<br style="clear:both;margin-bottom:40px"/>
